/* css for the pig site */

h1, h2, h3, p, li, address {
    font-family: "Source Sans Pro", sans-serif;
}

.menu {
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top: 0;
    width: 100%;
    overflow: auto;
}

.menu ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.menu ul li {
    list-style: none;
    float: left;
    width: 50%;
    text-align: center;
}

.menu ul li a {
    color: white;
    background-color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: darkslategrey;
}

#current {
    background-color: darkgreen;
}

#current:hover {
    background-color: darkslategrey;
}

.info ul {
    list-style-type: none;
}

.info ul > li:before {
    content: "- ";
    text-indent: -5px;
}

.header {
    margin-right: 100px;
    text-align: center;
}

.header h1 {
    font-size: 50px;
}

.header img {
    width: 100px;
    position: absolute;
    margin-left: 10px;
}

.info h2 {
    text-align: center;
    font-size: 24px;
}

.info ul li {
    font-size: 19px;
}

.info p {
    margin: 10px 10px;
    
}

footer address {
    font-style: normal;
    padding-top: 5px;
    border-top: 1px solid black;
}